<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-6">
			
            <p>&copy 2021 ML4SCI@BC. 
            <br/>Template from <a href="https://www.allanlab.org/">Allan's group</a></p>
              <!--p>We are part of the <a href="https://www.physics.leidenuniv.nl/">Leiden Institute of Physics</a> at <a href="https://www.leidenuniv.nl">Leiden University</a>.</p-->
		</div>

        <div class="col-sm-6">
            Contact: <a href="mailto:ml4sc@bc.edu">ml4sc@bc.edu</a><br/>
		  Integrated Science building, Boston College<br />
		  Chestnut Hill, MA 02467
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
